.film-card {
    transition: 0.5s ease;
    display: flex;
    background-color: #cff;
    position: relative;
    margin: 0 3px;
    flex-shrink: 0;
    width: 300px;
    overflow: hidden;
    height: 170px;
    background-color: lighten(#000, 1%);
    &__image {
        transition: 0.75s;
        display: block;
        filter: brightness(60%);
        margin: auto;
        width: 100%;
    }
    .content {
        flex-shrink: 1;
        transition: 0.8s ease;
        display: flex;
        color: #f1f1f1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: row-reverse;
        padding: 0 10px;
        opacity: 0;
        text-shadow: 0 0 5px #000;
        &__show-name {
            margin: 5px 0;
            font-weight: 100;
            font-size: 1.3em;
            &.smaller {
                font-size: 1.1em;
            }
        }
        &__show-desc {
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: space-around;
            p {
                margin: 0;
                font-size: 0.8em;
            }
        }
        &__favorite-button {
            position: relative;
            top: 8%;
            right: 8%;
            flex-shrink: 0;
            transition: 0.1s;
            font-weight: bold;
            font-size: 1.4em;
            width: 1.7em;
            height: 1.7em;
            border-radius: 100%;
            color: #f1f1f1;
            background-color: transparent;
            border: 1px solid #f1f1f1;
            &.favorited {
                background-color: #D81F26;
                border: 1px solid #D81F26;
                line-height: 1.5;
                color: #222;
            }
            &:focus {
                outline: 0;
            }
        }
    }
    &:hover {
        filter: brightness(90%) !important;
        z-index: 33;
        transform: translate3d(20px, 0, 0) scale(1.2);
        &~.film-card {
            transform: translate3d(38px, 0, 0);
            img {
                filter: brightness(40%);
            }
        }
    }
    &:hover>.content {
        opacity: 1;
    }
    &:hover>img {
        transform: scale(1.2);
    }
}