*,
*::before,
*::after,
{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #000000;
    padding: 0;
    margin: 0;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #141316;
    margin: 0;
    height: auto;
}

header {
    margin-bottom: -250px;
}

.categories {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .category {
        &:last-child {
            margin-bottom: 50px;
        }
    }
}